body {
	;
}

.error-span {
	color:#ff0000 !important;
}

.todo-li {
	list-style-type: none;
	padding-bottom: 3px;
}

.todo-li:hover {
	background-color: #eee;
	cursor:pointer;
	width: 300px;
}

.remove-task-li-icon {
	width: 10px;
	height: 10px;
	padding-left: 5px;	
}

.menu-item-container li
{
	list-style-type: none;
	display: inline-block;
}

.menu-item-container a {
	text-decoration: none ;
}

.view-container {
	margin-left: 20px;
}
