Please insert a new password:
<br>
<br>
<div class="container" ng-controller="PasswordController">
	Password: <input type="password" ng-model="password" ng-keydown="grade()" style="width: 300px">

	This password is: <span style="color:{{color}}">{{strength}}</span>
	<br/>
	<br/>
	This is a custom filter "Reverse"
	<input type="text" ng-model="message" style="width: 300px"/>
	<span>{{message | reverse}}</span>
	<br/>
	<br/>
	<superman></superman>
	<div flash></div>
	<br/>
	<br/>
	<h1>Testing behavior on Custom Directives</h1>
	<div enter="panel_modified" leave>Mouse me over!</div>
	<br/>
	<br/>
	<br/>
	<superhero flight speed strength>Superman is <span ng-model="abilities" ng-repeat="ability in abilities">{{ability | addTextConnections}}</superhero>
	<superhero speed>Flash is <span ng-repeat="ability in abilities">{{ability | addTextConnections}}</superhero>
	<superhero strength>Hulk is <span ng-repeat="ability in abilities">{{ability | addTextConnections}}</superhero>
	<br/>
	<br/>
	<div phone dial="callHome(message)"></div>
	<br/>
	<br/>
	<h1>Testing Transclusion</h1>
	<br/>
	<br/>
	<panel>
		<div class="button">Click me!</div>
	</panel>
    <br/>
    <br/>
    <dumb-password>
        <div>
            <input type="text" ng-model="model.input">
        </div>
    </dumb-password>
</div>