<div class="container">
	<h2>View 1</h2>
	Name: 
	<br />
	<form name="myForm">
		<input type="text" name="name" ng-model="name" required style="width: 300px"/>
		<span class="error-span" ng-show="myForm.name.$error.required">Required!</span>
		<br />
		<ul>
			<li ng-repeat="cust in customers | filter:name | orderBy:'name'">{{cust.name}} - {{cust.city}}</li>
		</ul> 
	</form>
	
	<br/>
	Customer Name: <br/>
	<input type="text" ng-model="newCustomer.name" style="width: 300px"/>
	<br/>
	Customer City: <br/>
	<input type="text" ng-model="newCustomer.city" style="width: 300px"/>
	<br/>
	<button ng-click="addCustomer()">Add Customer</button>
	<br/>
</div>